<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
   <form #form="ngForm" (ngSubmit)="login(form)">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input type="email" ngModel required name='email' matInput placeholder="inserisci la tua email">
        </mat-form-field>
      </p>
     
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input type='password'  ngModel required name='password' matInput placeholder="inserisci la tua password">
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Accedi</button>
   </form>
  </mat-card-content>
</mat-card>
<p class='registration'>Non hai un account? <a  [routerLink]="['/registration']"
  routerLinkActive="active">Registrati!</a></p>