.dash-layout{
    height: 100vh;
  }
  .menu{
    background-color: white;
  }
  ul{
    height: 100%;
  }
  nz-content{
    margin: 20px;
  }
  .content-w{
    padding: 24px;
    background-color: white;
    height: 100%;
  }