<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div>
      <h2>Menu</h2>
      <a [routerLink]="['/']"
      routerLinkActive="active" >
        <p>Movies</p>
      </a>
      <a [routerLink]="['/profile']"
      routerLinkActive="active">
        <p>Profile</p>
      </a>
      <a (click)="logout()" >
        <p color='accent'>Esci</p>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color='primary'>
        <span>Movies</span>
      </mat-toolbar>
    </p>
   <div  class='container d-flex flex-wrap justify-content-around' >
      <mat-card color='primary' class='card mx-3 my-3 p-0 border-0' *ngFor="let data of moviesData">
        <mat-card-content>
      <img src="{{url + data.poster_path}}">
        </mat-card-content>
        <mat-card-footer class='p-3'>
          <mat-card-actions class="d-flex">
            <button mat-icon-button aria-label >
              <mat-icon [color]="findFav(data.id)? 'primary' : ''" svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"> 
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>

